@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-display: Spline Sans, Inter, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Noto Color Emoji;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
  --font-rounded: 'SF Pro Rounded', sans-serif;
  --font-serif: Georgia, serif;
}
